@media(max-width: 320px) {
    *{
        margin: 0;
    }
    .reg__block{
        width: auto;
        font-size: 30px;
        margin: 10px !important;
    }
    .reg__btn{
       height: 50px;
    }
    .reg__message{
        font-size: 15px;
    }
}

@media(max-width: 420px) {
    *{
        margin: 0;
        font-size: 17px;
    }
    .reg__block{
        width: auto;
        margin-top: 30%;
    }
    .reg__btn{
        height: 50px;
    }
    .reg__title{
        font-size: 30px;
    }
}