.reg__header{
    width: 100%;
    height: 50px;
    background-color: slategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: cornsilk;
}

.reg__block{
    color: #B22222;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin: auto;
}

.reg__btn{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.reg__btn button{
    background-color: #b81212;
    border: #b81212;
    border-radius: 10px;
    color: cornsilk;
    cursor: pointer;
    padding: 6px;
}
