.signin{
    color: #B22222;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin: auto;
}

.signin button{
    background-color: #b81212;
    border: #b81212;
    border-radius: 10px;
    color: cornsilk;
    cursor: pointer;
    padding: 6px;
    margin-top: 20px;
}
.reg__message{
    border: #b81212 1px solid;
    padding: 10px;
    margin-top: 10px;
}

.reg__error{
    color: #B22222;
    background-color: cornsilk;
    border: #b81212 1px solid;
    padding: 10px;
    margin-top: 10px;
}